@import "../../../styles/colors";

.servers-info {
  h3 {
    color: $color-dark-grey-dark;
    font-size: 21px;
    margin-bottom: -10px;
  }

  p {
    color: $color-dark-grey-dark;
    font-size: 15px;
    font-weight: 400;
  }
}
