$color-purple: #7D82F7;
$color-dark-grey-dark: #494E61;
$color-puprle-light: #9CA7D3;
$color-green: #24A1A9;
$color-grey: #747785;
$color-white: #ffffff;
$color-white-dirty: #F2F3F6;
$color-table-border: #EDEDF0;
$color-border-search: #D4D7E1;
$color-red: #EA5885;
$color-search-input: #A9AEC1;
